<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label for="endereco">Endereço:</label><br>
        <input type="text" name="endereco" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <button type="submit">Registrar</button>
    </form>

    <p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça login</a></p>
</body>
</html>